.text-center {
    text-align: center;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.grey {
    background-color: #9F9F9F;
    color: black;
}

.extra-large-fonts {
    font-size: 32px;
    font-weight: 300;
}

.large-fonts {
    font-size: 26px;
}

.dark-grey {
    background-color: #1F1F1F;
}